
$black: black;
$white: white;
$lightblue: #e8f5f6;
$darkblue: #484A67;
$orange: #FE9801;


$bp-small: 800px;
$bp-medium: 1024px;
$bp-large: 1200px;
$bp-xlarge: 1700px;
$gutter: 0px;

//FONT WEIGHTS
$regular: 300;
$semi: 400;
$bold: 500;



$font1:  'Poppins', sans-serif;
$font2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;