


.content-component {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: white;
    z-index: 99999;
    position: relative;
    .content-wrapper {
        text-align: center;
        padding: 0 20%;
    }
    .btn {
        margin-top: 30px;
        cursor: pointer;
        display: inline-block; 
    }
}