


.footer {
        padding: 100px 0;
        .footer-wrapper {    
                align-items: center;
                display: flex;
                justify-content: space-between;

                a {
                        display: block;
                        margin: 1em 0;
                }
                .left {
                        display: flex;
                        width: 20%;
                        @media(max-width: 800px){
                                width: 100%;
                                justify-content: center;
                        }
                        .info-wrapper {
                                display: flex;
                                flex-direction: column;
                                align-items: left;
                        }
         
                }
                .middle {
                       img {
                        width: 200px;
                       } 
                }
                .right {
                        width: 20%;
                        @media(max-width: 800px){
                                width: 100%;
                        }
                }        
        }
        @media (max-width: 800px) {
                .footer-wrapper {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                
                .left {
                    order: 2; 
                }
                
                .middle {
                    order: 1; 
                    padding: 50px 0;
                }
            }
}

.footer.dark-mode {
        background-color: $darkblue;
        a, p {
                color: $white;
        }
        
}