



.hero {
    background-image: url('/hero/hero.webp');
    background-size: cover;
    background-position: center; 
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    @media(max-width:800px){
        flex-direction: column;
        h1 {
            font-size: 60px;
        }
    }
    .hero-wrapper {

    }
    .mockup-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 800px){
            position: unset;
        }
        img {
            @media(max-width: 800px){
               width: 100%;
            }
        }
    }
    .content-wrapper {
        // transform: translatey(-185px);
        @media(max-width: 800px){
            transform: translatey(-22px);
        }
    }
    .content-wrapper {
        opacity: 0; 
        transition: opacity 1s linear;
    }
    
    .fade-in {
        opacity: 1; 
    }
    

    @keyframes moveCloudLeft {
        from {
            left: 100%; /* Start off-screen on the right side */
        }
        to {
            left: -100%; /* Move off-screen to the left side */
        }
    }
      
      .single-cloud-wrapper {
        position: absolute;
        top: 18%;
        left: 100%;
        animation: moveCloudLeft 80s linear infinite; 
        @media(max-width:800px){
            display: none;
        }
        img {
            width: 225px;
        }
    }
    
      
    h1 {
        margin-bottom: 0;
        color: $white;
    }
    h3 {
        margin: 8px 0;
        color: $white;
    }
    p {
        color: $white;
    }
    .btn {
        margin-top: 60px;
    }
    .sun {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        background-color: #fe9801;
        position: absolute;
        bottom: -13%;
        left: 10%;
        @media(max-width:800px){
            display: none;
        }
    }
}