



.hero {
    background-image: url('/hero/hero.webp');
    background-size: cover;
    background-position: center; 
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    @media(max-width:800px){
        h1 {
            font-size: 60px;
        }
    }
    .content-wrapper {
        transform: translatey(-60px);
    }
    .content-wrapper {
        opacity: 0; 
        transition: opacity 1s linear;
    }
    
    .fade-in {
        opacity: 1; 
    }
    

    @keyframes moveCloudLeft {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-50%);
        }
      }
      
      .single-cloud-wrapper {
        position: absolute;
        top: 18%;
        right: -1%;
        animation: moveCloudLeft 20s linear infinite; 
        @media(max-width:800px){
            display: none;
        }
      }
      
    h1 {
        margin-bottom: 0;
        color: $white;
    }
    h3 {
        margin: 8px 0;
        color: $white;
    }
    p {
        color: $white;
    }
    .btn {
        margin-top: 60px;
    }
    .sun {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        background-color: #fe9801;
        position: absolute;
        bottom: -13%;
        left: 10%;
        @media(max-width:800px){
            display: none;
        }
    }
}