



.info-cards {
    padding: 100px 0;
    h3 {
        color: $white;
    }
    &__wrapper {
        .title-wrapper {
            padding: 0 10%;
            text-align: center;

        }
        .cards-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 50px;
            gap: 24px;
            .button-wrapper {
                margin-top: 32px;
                margin-bottom: 16px;

            }
            @media(max-width:1200px){
                grid-template-columns: 1fr 1fr;
            }
            @media(max-width:800px){
                grid-template-columns: 1fr;
            }
 
            .card {
                box-shadow: 12px 12px 50px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                h3 {
                    text-align: center;
                    color: $white;
                }
                &__top {
                    background-color: $darkblue;
                    padding: 24px;
       
                    display: flex;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    justify-content: center;
                }
                &__bottom {
                    padding: 24px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
           
                    .icon-wrapper {
                        text-align: center;
                        margin: auto;
                        img {
                            width: 70px;
                            // filter: invert(68%) sepia(86%) saturate(3072%) hue-rotate(360deg) brightness(102%) contrast(99%);
                            filter: brightness(0) saturate(100%) invert(27%) sepia(38%) saturate(386%) hue-rotate(197deg) brightness(95%) contrast(89%);
                        }
                    }
                }
            }

        }

    }
}