

.two-column {
    .title-wrapper {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 0 20%;
    }
    .section {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 100px;
        margin-bottom: 100px;
        @media(max-width: 800px){
            display: block!important;
        }
        @media (min-width: 800px) and (max-width: 1000px) {
            gap: 50px;
        }
        
        .image-wrapper {
            flex: 1;
            position: relative;
            .window-frame {

            }   
            .background {
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateX(-50%);
                background-color: $darkblue;
            }
                     img {
                max-width: 100%;
                height: auto;
            }
        }
        .text-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                margin: 0 0 8px 0;
            }
        }
    }

//   NEW
    .window {
        width: 40%;
        height: 300px;
        border: 4px solid $darkblue;
        position: relative;
        overflow: hidden;
        @media(max-width: 800px){
            width: 100%;
        }
    }

    .icon-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .icon {
        width: 100px;
        height: auto;
        filter: brightness(0) invert(1);
    }
    .cloud-container {
        position: relative;
        img {
            width: 150px;
            position: absolute;
            left: -150px;
            z-index: 0;
            animation-duration: 30s; /* Duration of the animation */
            animation-timing-function: linear; /* Linear timing function */
            animation-iteration-count: infinite;
            animation-name: moveRight;
        }
        
    }

    @keyframes moveRight {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(100% + 600px)); /* Adjust 600px to match the width of the cloud image */
        }
    }
    
    @keyframes moveLeft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-100% - 600px));
        }
    }
    

    .section.reverse {
        .cloud-container {
            position: relative;
            img {
                width: 150px;
                position: absolute;
                right: -150px;
                left: unset;
                top: 230px;
                z-index: 0;
                animation-duration: 30s; /* Duration of the animation */
                animation-timing-function: linear; /* Linear timing function */
                animation-iteration-count: infinite;
                animation-name: moveLeft;
            }
        }
    }

    .window::before {
        content: '';
        position: absolute;
        top: 4px; 
        left: 4px; 
        right: 4px; 
        bottom: 4px; 
        background-color: $darkblue; 
        border: 4px solid $darkblue; 
        z-index: -1;
    }

    .window-inner-border {
        position: absolute;
        top: 4px; 
        left: 4px; 
        right: 4px; 
        bottom: 4px; 
        border: 4px solid $darkblue;
        z-index: 1;
    }
    a {
        margin-top: 20px;
    }
}